.head-title{

   color: #FBF2C0;
}
.box1{

}
.box2{

}
.box3{

}
.img-element{
    position: relative;
    right: 7px;
    top: 30px;
    width: 55px;
    height: 55px;
}
.head-er{
    background-color:#43281c;
    justify-content: center;
    display: flex;
    border-radius: 30px;
}
.head-title{
    font-family: Arial, Helvetica, sans-serif;
}
.item-list{
    display: flex;
    background-color: #fbf;
    margin: 0;
}